.image-details {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  .link {
    margin-bottom: 20px;
  }

  .image {
    text-align: center;
  }

  .details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .btns {
      display: flex;
      flex-direction: column;

      .btn {
        margin-bottom: 10px;
      }
    }
  }
}
