.image-details {
  .image {
    text-align: center;
  }

  .details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .statistics {
      display: flex;
      margin-bottom: 20px;

      div {
        text-align: center;
        margin-right: 20px;
      }

      .value {
        font-size: 24px;
        font-weight: 600;
      }
    }

    .icon-container {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 5px;
      }
    }

    .description {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #767676;
    }

    .location {
      color: black;
      margin-right: 20px;
    }

    .btns {
      display: flex;
      flex-direction: column;

      .btn {
        margin-bottom: 10px;
      }
    }
  }
}
