.imageDetails {
  .link {
    margin-bottom: 20px;
  }

  .details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .btns {
      display: flex;
      flex-direction: column;

      .btn {
        margin-bottom: 10px;
      }
    }
  }
}
