@import url("https://rsms.me/inter/inter.css");
@import "./variables.scss";

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  color: $default-text-color;
  font-size: $normal-font-size;
}

a {
  color: $link-text-color;
}

.App {
  max-width: 700px;
  margin: 50px auto;
}
