@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.App {
  width: 90%;
  max-width: 1440px;
  margin: 20px auto;
}

main {
  margin-top: 100px;
}
