// Utility classes

// @for $i from 0 to 20 {
//   @if $i % 5 == 0 {
//     .p-#{$i} {
//       padding: $i + px;
//     }
//     .m-#{$i} {
//       margin: $i + px;
//     }
//   }
// }

.btn {
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn-primary {
  background: #58b291;
  box-shadow: 0 10px 15px rgba(72, 157, 126, 0.3);
}

.btn-primary:hover {
  background: #489d7e;
}

.btn-secondary {
  background: #6b77e1;
  box-shadow: 0 10px 15px rgba(64, 80, 216, 0.3);
}

.btn-secondary:hover {
  background: #4050d8;
}

.btn-tertiary {
  background: #efa0b8;
  box-shadow: 0 10px 15px rgba(239, 160, 184, 0.3);
}

.btn-tertiary:hover {
  background: #d790a6;
}

.link {
  color: #1056ff;
  font-size: 20px;
  // text-decoration: none;
  // display: inline-block;
  cursor: pointer;
  border-bottom: 2px solid #fff;
  transition: border 300ms;
}

.link:hover {
  border-bottom: 2px solid #1056ff;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
}
