.btn {
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  background: #58b291;
  box-shadow: 0 10px 15px rgba(72, 157, 126, 0.3);
}

.button-secondary {
  background: #6b77e1;
  box-shadow: 0 10px 15px rgba(64, 80, 216, 0.3);
}

.button-tertiary {
  background: #efa0b8;
  box-shadow: 0 10px 15px rgba(239, 160, 184, 0.3);
}
