header {
  width: 100%;
  background: rgba(256, 256, 256, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 3;
}

.searchbar {
  display: flex;
  max-width: 700px;
  margin: 0 auto;

  .searchContainer {
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0 15px;
    margin: 0 15px;
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    transition: border 300ms;
    background: #fff;

    &:focus-within {
      border: 2px solid #3aabea;
    }

    input {
      height: 50px;
      border: none;
      outline: 0;
      margin: 0 10px;
      font-size: 14px;
      width: 100%;
    }
  }
}
